week-04-model-comparison/workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "3a7dac36-06af-45ba-b955-ded3e1f479e6",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYqnK4DTL9StYU6",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appYqnK4DTL9StYU6"
        },
        "table": {
          "__rl": true,
          "value": "tblzZRMNamEBZ4x8H",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appYqnK4DTL9StYU6/tblzZRMNamEBZ4x8H"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        400,
        0
      ],
      "id": "3c09b7c6-4185-43d0-9c0f-ef3868642821",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "OKW7w8a4hGDpK8jT",
          "name": "Airtable Personal Access Token account 26"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        192,
        0
      ],
      "id": "98d45b96-76dd-4ed3-a1b7-af06c464a526",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "=Name: inputs\nValue: {{$json.input_text}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        96
      ],
      "id": "52e9fa72-621f-47b8-833a-96a49465e409",
      "name": "HF Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zZrhRNteHGNmxYwz",
          "name": "Header Auth account 22"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83a203c1-09f4-4253-8f7d-f74cd767c208",
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "47d57843-fb6f-4e4a-afad-39a61fb09b57",
              "name": "sentiment_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "7739fae1-7597-466b-b385-113e0ca7503e",
              "name": "input_text",
              "value": "={{$json.input_text}}",
              "type": "string"
            },
            {
              "id": "691fd492-0ea5-4bd2-afba-a509553f7399",
              "name": "record_id",
              "value": "={{ $('Split In Batches').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        96
      ],
      "id": "2b9765e1-51f1-4e1f-84e4-d3b2c7600b62",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={  \"inputs\": \"{{ $('Split In Batches').item.json.fields.input_text }}\",  \"parameters\": {  \"candidate_labels\": [\"critical threat\", \"routine activity\", \"possible anomaly\"]  } }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        288
      ],
      "id": "6a85894b-b760-490f-93cc-1d880a5ea991",
      "name": "HF Zero-Shot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zZrhRNteHGNmxYwz",
          "name": "Header Auth account 22"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54ec36ee-8ab1-4a15-a895-bab8b0c73e27",
              "name": "zeroshot_label",
              "value": "={{ $json.labels[0] }}",
              "type": "string"
            },
            {
              "id": "37728795-f2d4-4ae9-8f26-8c02b48f9118",
              "name": "zeroshot_score",
              "value": "={{ $json.scores[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        288
      ],
      "id": "c5566738-a286-4d50-995e-c394c73097ae",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={\n  \"inputs\": \"{{ $json.input_text }}\"\n}\n\n\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        496
      ],
      "id": "15cf921d-af8f-49c3-a845-4145aa53ca7a",
      "name": "HF NER",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zZrhRNteHGNmxYwz",
          "name": "Header Auth account 22"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74ae39f7-8c97-458c-adda-180b23ad2464",
              "name": "ner_entities",
              "value": "={{$json.word}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        496
      ],
      "id": "0948bcbc-9876-44fa-8298-ec0150f28741",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={  \"model\": \"llama3-8b-8192\",  \"messages\": [  {  \"role\": \"system\",  \"content\": \"You are a security analyst. Classify the following alert as one of: CRITICAL, HIGH, MEDIUM, LOW, or INFORMATIONAL. Reply with the severity level and one sentence of reasoning.\"  },  {  \"role\": \"user\",  \"content\": \"{{ $('Split In Batches').item.json.fields.input_text }}\"  }  ],  \"max_tokens\": 100 }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        704
      ],
      "id": "74d712f2-cb44-4fd1-b828-bc947fcf2d0f",
      "name": "Groq LLM",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GZjzIL83ikZfl4Nh",
          "name": "Groq API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d01dc768-2857-49c6-b63a-7677c9b23cbb",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        704
      ],
      "id": "0c6d7a05-4462-43f5-9c10-1ec9767aca70",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1312,
        336
      ],
      "id": "9a05dc89-439f-4fc5-956c-3d0b4f0347be",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYqnK4DTL9StYU6",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appYqnK4DTL9StYU6"
        },
        "table": {
          "__rl": true,
          "value": "tblzZRMNamEBZ4x8H",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appYqnK4DTL9StYU6/tblzZRMNamEBZ4x8H"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tested_at": "={{ new Date().toISOString() }}\n",
            "model_4_groq_classification": "={{ $json.groq_classification }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}\n",
            "model_2_zeroshot_label ": "={{ $json.zeroshot_label }}",
            "model_1_sentiment_score": "={{ $json.sentiment_score }}\n",
            "model_1_sentiment_label": "={{ $json.sentiment_label }}",
            "id": "={{ $json.record_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label",
              "displayName": "model_1_sentiment_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score",
              "displayName": "model_1_sentiment_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label ",
              "displayName": "model_2_zeroshot_label ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1536,
        368
      ],
      "id": "edd050fd-8ae5-435d-beb5-36eae77aae4a",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "OKW7w8a4hGDpK8jT",
          "name": "Airtable Personal Access Token account 26"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq LLM": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f5e4a8bc-4e88-4b0e-9287-3234c8be6a3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "VMSBBHaWfZQK0n4E",
  "tags": []
}